    /* Contenedor de las cards en fila */
    .cards-container {
        display: flex;
        margin-top: 30px; /* Espacio entre la imagen y las cards */
        width: 80%; /* Las cards ocupan el 80% del ancho disponible */
        gap: 30px; /* Espacio de 3px entre las cards */
        margin-left: 130px;
    }
    
    .card {
        background-color: #353a50;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 30%; /* Las cards ocuparán el 30% del ancho */
        position: relative; /* Permite el posicionamiento absoluto del icono */
    }
    
    .card h5 {
        font-size: 15px;
        color: #fff;
        margin-bottom: 10px;
        margin-right: 70px;
    }
    
    .card h1 {
        font-size: 35px;
        color: #fff;
        margin: 5px 0;
    }
    
    .card p {
        font-size: 16px;
        color: #fff;
        margin: 5px 0;
        text-align: right;
    }
    
    /* Estilos para el icono en la parte superior derecha de la card */
    .card-icon {
        position: absolute;
        border-radius: 8px;
        top: 10px; /* Ajusta la distancia desde el borde superior */
        right: 10px; /* Ajusta la distancia desde el borde derecho */
        width: 40px; /* Tamaño del icono */
        height: 40px; /* Tamaño del icono */
    }  