.dashboard-container {
  display: flex;
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  width: 100vw; /* Ocupa el 100% del ancho de la ventana */
  background-color: #2b2f42;
  flex-direction: column; /* Mantener los elementos apilados */
  overflow: hidden; /* Evita el desbordamiento */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado largo */

}

.dashboard-content {
  flex: 1; /* Esto hace que el contenido ocupe el resto del espacio */
  padding: 20px; /* Añade un poco de padding para evitar que el contenido toque los bordes */
}

.dashboard-image-container {
  flex: 1; /* Asegura que la imagen ocupe el espacio necesario */
  margin-left: 120px; /* Mueve la imagen a la derecha */
}

.dashboard-image {
  width: 40%; /* La imagen ocupará el 40% del ancho disponible */
  max-width: 80%; /* La imagen no se desbordará */
  max-height: 80%; /* La imagen no se desbordará */
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

/* Si quieres mantener la estructura fija cuando agregues más elementos */
.dashboard-container > * {
  margin-bottom: 20px; /* Añadir algo de espacio entre cada componente */
}

.dashboard-container > *:last-child {
  margin-bottom: 0; /* Elimina el margen inferior del último elemento */
}

/* Estilos opcionales de responsividad (si quieres que la estructura cambie en pantallas pequeñas) */
@media screen and (max-width: 768px) {
  .dashboard-container {
    flex-direction: column; /* Se asegura que se mantenga en columna */
  }

  .dashboard-image-container {
    margin-left: 0; /* Eliminar el margen en pantallas pequeñas */
  }
}