/* ForgotPassword.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .formw {
    margin-left: 50px;
  }
  
  /* Contenedor principal de Forgot Password */
  .forgot-password-container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 400px;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 150px; /* Desplaza el contenedor hacia la derecha */
  }
  
  .forgot-password-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .forgot-password-container p {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .forgot-password-container input {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
  }
  
  .forgot-password-container button {
    width: 80%;
    padding: 12px;
    font-size: 16px;
    background-color: #512da8;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  .forgot-password-container button:hover {
    background-color: #4527a0;
  }
  
  .forgot-password-container a {
    font-size: 14px;
    color: #512da8;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .forgot-password-container a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para la transición hacia el formulario de login */
  .forgot-password-container .back-to-login {
    font-size: 14px;
    color: #512da8;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .forgot-password-container .back-to-login:hover {
    text-decoration: underline;
  }
  