    /* Ajustes para la gráfica debajo de las cards */
    .chart-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .barchart-container {
        background-color: #353a50;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: #fff;
        width: 100%;
        max-width: 900px;
        margin-left: 200px;
        margin-top: 30px;
    }
    
    .barchart-container h3 {
        text-align: center;
        color: #61dafb;
        margin-bottom: 15px;
    }
    
    .recharts-cartesian-grid line {
        stroke: rgba(255, 255, 255, 0.315);
    }
    
    .recharts-tooltip-wrapper {
        background-color: #222 !important;
        border: 1px solid #61dafb !important;
        color: #fff !important;
    }
    
    .recharts-legend-item text {
        fill: #61dafb !important;
        font-weight: bold;
    }
    
    .recharts-bar-rectangle {
        stroke-width: 2;
    }
    